[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
dash = "*"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
jupyter = "*"
pandas = "*"
scikit-learn = "*"
dash-daq = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
eli5 = "*"
category-encoders = "*"

[requires]
python_version = "3.7"
